@import url("colors.css");

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15;
}

window#waybar {
  background-color: @background;
  border: 3px solid @primary;
  border-top: none;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 0 0 50em 50em;
}

box {
  padding: 0px;
}

box.modules-left,
box.modules-right {
  margin: 0.2em 3em 0.5em 3em;
}

box.modules-left *,
box.modules-right * {
  color: @primary;
  margin-left: 0.3em
}

box.modules-center * {
  color: @primary;
}

window#waybar.hidden {
  opacity: 0.2;
}


window#waybar.empty {
  background-color: transparent;
}

window#waybar.solo {
  background-color: white;
}

#battery {
  transition: linear 0.1s;
  box-shadow: inset @primary_container 0 0 0.5em;
  border: 0.2em solid @primary_container;
  padding: 0.2em;
  border-radius: 1em;
}

#battery:hover {
  border-color: @primary_fixed_dim;
  color: @primary_fixed;
  box-shadow: inset @primary_fixed_dim 0 0 0.5em;
}

#power-profiles-daemon {
  transition: linear 0.1s;
  box-shadow: inset @primary_container 0 0 0.5em;
  border: 0.2em solid @primary_container;
  padding: 0.5em;
  padding-right: 0.8em;
  border-radius: 1em;
}

#power-profiles-daemon:hover {
  border-color: @primary_fixed_dim;
  color: @primary_fixed;
  box-shadow: inset @primary_fixed_dim 0 0 0.5em;
}

#backlight {
  transition: linear 0.1s;
  box-shadow: inset @primary_container 0 0 0.5em;
  border: 0.2em solid @primary_container;
  padding: 0.5em;
  padding-right: 0.8em;
  border-radius: 1em;
}

#backlight:hover {
  border-color: @primary_fixed_dim;
  color: @primary_fixed;
  box-shadow: inset @primary_fixed_dim 0 0 0.5em;
}


#pulseaudio {
  transition: linear 0.1s;
  box-shadow: inset @primary_container 0 0 0.5em;
  border: 0.2em solid @primary_container;
  padding: 0.5em;
  padding-right: 0;
  padding-right: 0.8em;
  border-radius: 1em;
}

#pulseaudio:hover {
  border-color: @primary_fixed_dim;
  color: @primary_fixed;
  box-shadow: inset @primary_fixed_dim 0 0 0.5em;
}

#tray {
  transition: linear 0.1s;
  box-shadow: inset @primary_container 0 0 0.5em;
  border: 0.2em solid @primary_container;
  padding: 0.5em;
  padding-right: 0.8em;
  border-radius: 1em;
}

#tray * {
  color: black;
}

#workspaces {
  transition: linear 0.1s;
  box-shadow: inset @primary_container 0 0 0.5em;
  border: 0.2em solid @primary_container;
  padding: 0.2em;
  padding-left: 0;
  padding-right: 0.3em;
  border-radius: 1em;
}

#workspaces * {
  color: @on_tertiary;
}

#workspaces button {
  transition: linear 0.1s;
  background-color: @tertiary;
  border-radius: 1em;
  padding: 0;
  padding-right: 0.9em;
}

#workspaces button:hover {
  padding: 0em 2em 0em 1em;
}

#clock {
  transition: linear 0.1s;
  font-weight: 900;
}

#clock:hover {
  color: @primary_fixed;
}

tooltip {
  background-color: @secondary_container;
}
