@import url("colors.css");

.control-center {
  border-radius: 0 0 1em 1em;
  background-color: @background;
  border: 3px solid @primary;
  border-top: none;
  padding: 1em;
  color: @primary;
}

.control-center-clear-all {
  border: 3px solid @primary;
  border-radius: 5em;
  box-shadow: inset @primary 0 0 0.5em;
}

.control-center-dnd {
  background-color: @primary;
  transition: 25ms linear;
}

.control-center-dnd:checked {
  background-color: @tertiary;
}

.control-center-dnd slider {
  background-color: @primary_container;
  border: 1px solid @primary_container;
  box-shadow: inset @primary_container 0 0 0.5em;
}

.notification {
  border: 3px solid @surface_container;
  border-radius: 1em;
  background-color: @primary_container;
}

.notification-default-action {
  box-shadow: inset @surface_container 0 0 0.5em;
}

.notification-default-action:hover {
  background-color: @primary_container;
  box-shadow: inset @surface 0 0 0.5em;
}

.close-button {
  border: 3px solid @on_primary_container;
  box-shadow: inset @on_primary_container 0 0 0.5em;
}
