@define-color background {{colors.background.default.rgba | set_alpha: 999}};
@define-color primary {{colors.primary.default.hex}};
@define-color secondary {{colors.secondary.default.hex | lighten: -30.0}};
@define-color tertiary {{colors.tertiary.default.hex | lighten: -30.0}};
@define-color surface_bright {{colors.surface_bright.default.hex}};
